# Python cache
__pycache__/

# PyCharm
.idea/

# Build outputs
build/

# Cython generated / compiled files
*.pyd
/bpe_fast_core.cpp
/bpe_fast_core.html
/bpe_fast_core_parallel.c

# Training outputs or log files
checkpoints/

# OS files
Thumbs.db
